{% extends 'layout.html' %} {% block content %}

<style>
    body {
        background-color: #f4f4f4f1;
    }
</style>

<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'files/bower_components/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'files/assets/pages/chart/radial/css/radial.css') }}" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'files/assets/icon/feather/css/feather.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'files/assets/css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

<!-- Data Table Css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='files/assets/pages/data-table/css/buttons.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}">

<script type="text/javascript" src="https://code.jscharting.com/latest/jscharting.js"></script>
<script type="text/javascript" src="https://code.jscharting.com/latest/modules/maps.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>

<script src="{{ url_for('static', filename= 'files/assets/pages/chart/echarts/js/echarts-all.js') }}" type="text/javascript"></script>

<!-- data-table js -->
<script src="{{ url_for('static', filename='files/bower_components/datatables.net/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='files/assets/pages/data-table/js/jszip.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='files/assets/pages/data-table/js/pdfmake.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='files/assets/pages/data-table/js/vfs_fonts.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='files/bower_components/datatables.net-buttons/js/buttons.print.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='files/bower_components/datatables.net-buttons/js/buttons.html5.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}" type="text/javascript"></script>


<!-- Pre-loader end -->
<div id="pcoded" class="pcoded mt-5">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">

                                    <!-- Month & Year Dropdown start -->
                                    <div class="row">
                                        <div class="col-6"></div>
                                        <div class="col-3">
                                            <label for="month" class="fw-bold">Month:</label>
                                            <select class="form-select" name="month" id="month" onchange="dashboard_data();">
                                                <option value='January'>January</option>
                                                <option value='February'>February</option>
                                                <option value='March'>March</option>
                                                <option value='April'>April</option>
                                                <option value='May'>May</option>
                                                <option value='June'>June</option>
                                                <option value='July'>July</option>
                                                <option value='August'>August</option>
                                                <option value='September'>September</option>
                                                <option value='October'>October</option>
                                                <option value='November'>November</option>
                                                <option value='December'>December</option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <label for="year" class="fw-bold">Year:</label>
                                            <select class="form-select" name="year" id="year" onchange="dashboard_data();">
                                                <option value='2022'>2022</option>
                                                <option value='2023'>2023</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Month & Year Dropdown start -->

                                    <!-- dashboard container -->
                                    <div id="showdata">
                                        <div class="row mt-3">
                                            <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-yellow update-card">
                                                    <div class="card-block">
                                                        <div class="row align-items-end">
                                                            <div class="col-8">
                                                                <h4 id="total_search" class="text-white">0</h4>
                                                                <h6 class="text-white m-b-0">Total # of Searches (Users)</h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <canvas id="update-chart-1" height="50"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>(30 days)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-green update-card">
                                                    <div class="card-block">
                                                        <div class="row align-items-end">
                                                            <div class="col-8">
                                                                <h4 id="total_hcp" class="text-white">0</h4>
                                                                <h6 class="text-white m-b-0">Total # of HCPs Connected</h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <canvas id="update-chart-2" height="50"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>(30 days)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-pink update-card">
                                                    <div class="card-block">
                                                        <div class="row align-items-end">
                                                            <div class="col-8">
                                                                <h4 id="top_connected_hcp" class="text-white">0</h4>
                                                                <h6 class="text-white m-b-0">Top Connected HCP</h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <canvas id="update-chart-3" height="50"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>(30 days)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-lite-green update-card">
                                                    <div class="card-block">
                                                        <div class="row align-items-end">
                                                            <div class="col-8">
                                                                <h4 id="total_area" class="text-white">0</h4>
                                                                <h6 class="text-white m-b-0">Total # of Areas Searched</h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <canvas id="update-chart-4" height="50"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>(30 days)</p>
                                                    </div>
                                                </div>
                                            </div>



                                            <!-- charts (map & bar) -->
                                            <!-- map chart -->
                                            <div class="col-xl-8 col-md-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="card-header-left ">
                                                            <h5> # of Searches for HCPs</h5>
                                                        </div>
                                                    </div>
                                                    <div class="card-block-big">
                                                        <div id="chartDiv" style="max-width: 740px;height: 430px;margin: 0px auto;"></div>
                                                    </div>
                                                    <div class="card-footer border-0">
                                                        <div class="row px-5">
                                                            <div class="col-sm">
                                                                <div class="row">
                                                                    <div class="col-3" style="background-color: #55abb7;"></div>
                                                                    <div class="col-sm">Lower</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm">
                                                                <div class="row">
                                                                    <div class="col-3" style="background-color: #c46567;"></div>
                                                                    <div class="col-sm">Average</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm">
                                                                <div class="row">
                                                                    <div class="col-3" style="background-color: #ffc100;"></div>
                                                                    <div class="col-sm">Higher</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <!-- grouped bar chart-->
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="card-header-left ">
                                                            <h5>Users and HCPs Report</h5>
                                                        </div>
                                                    </div>
                                                    <div class="card-block-big">
                                                        <div id="barchart" style="max-width: 740px;height: 430px !important;margin: 0px auto;">
                                                            <canvas id="myChart"></canvas>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer border-0"><br></div>
                                                </div>
                                            </div>

                                            <!-- search detai -->
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="card-header-left ">
                                                            <h5>Search Detailed Report</h5>
                                                        </div>
                                                    </div>
                                                    <div class="card-block-big">
                                                        <div class="row">
                                                            <div class="col-4 text-center py-5">
                                                                <p style="margin-top: 10%;">Total Number of Searches in</p>
                                                                <p class="h2"><b id="top_one_city"></b></p>
                                                                <p class="h1"><b id="top_one_city_cnt"></b></p>
                                                            </div>
                                                            <div id="progress" class="col-4">
                                                            </div>
                                                            <div class="col-4 text-center py-5">
                                                                <p class="text-primary fw-bold text-decoration-underline">This week top connected HCPs</p>
                                                                <div id="top_week_hcps"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- grouped bar chart-->
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="card-header-left ">
                                                            <h5>Lead HCPs Details</h5>
                                                        </div>
                                                    </div>
                                                    <div class="card-block-big">
                                                        <div class="dt-responsive table-responsive">
                                                            <table class="datatables-basic table compact table-striped table-bordered nowrap" style="width: 100%;">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Name</th>
                                                                        <th>Designation</th>
                                                                        <th>Address</th>
                                                                        <th>HCP Connected Date</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer border-0"><br></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- no data container -->
                                    <div id="hidedata">
                                        <div class="row text-center h-100">
                                            <div class="col-12 text-center">
                                                <div class="card card-block d-flex" style="height: 120px;margin-top: 50px;">
                                                    <div class="card-body align-items-center d-flex justify-content-center">
                                                        NO DATA AVAILABLE
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function mapChart(data, obj) {
        var chartConfig = {
            debug: true,
            type: 'map',
            palette: {
                pointValue: '{ %zValue }',
                colors: ['#f1f1f1', '#55abb7', '#c46567', '#ffc100'],
                ranges: [0, [1, obj["city_cal"][0]],
                    [obj["city_cal"][0] + 1, obj["city_cal"][1]],
                    [obj["city_cal"][1], obj["city_cal"][2]]
                ]
            },
            legend: {
                template: '%icon %value',
                position: 'bottom'
            },
            defaultPoint: {
                label_text: '%state',
                tooltip: '<b>%name</b> <br/>Count: { %zValue }'
            },
            defaultSeries_shape_padding: 0.02,
            legend_visible: false,
            defaultPoint_label_autoHide: false,
            series: [{
                id: 'usMap',
                map: 'us'
            }]
        };

        chartConfig.series[0].points = data;
        var chart = JSC.chart('chartDiv', chartConfig);
    }

    function barChart(top_dates, search_date_cnt, hcp_date_cnt) {

        var max_value = Math.max.apply(null, search_date_cnt)
        if (Math.max.apply(null, search_date_cnt) < Math.max.apply(null, hcp_date_cnt)) {
            max_value = Math.max.apply(null, hcp_date_cnt);
        }

        var ctx = document.getElementById("myChart").getContext("2d");

        var data = {
            labels: top_dates,
            datasets: [{
                label: "# of Searches",
                backgroundColor: "#ffc100",
                data: search_date_cnt
            }, {
                label: "# of Connected HCPs",
                backgroundColor: "#cc7e00",
                data: hcp_date_cnt
            }]
        };

        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                maintainAspectRatio: false,
                barValueSpacing: 0,
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                        }
                    }],
                    yAxes: [{
                        display: false,
                        ticks: {
                            beginAtZero: true,
                            max: max_value + 1
                        }
                    }]
                },
                plugins: {
                    legend: {
                        labels: {
                            padding: 100,
                        }
                    }
                }
            }
        });

    }

    function progressBar(top_cities, top_cities_cnt) {
        let result = [];
        top_cities.forEach((city, index) => {
            let obj = {
                value: top_cities_cnt[index],
                name: city
            };
            result.push(obj);
        });

        var myChart = echarts.init(document.getElementById('progressbar'));

        var idx = 1;
        var option_dt = {

            timeline: {
                show: true,
                data: ['Cities'],
                label: {
                    formatter: function(s) {
                        return s.slice(0, 5);
                    }
                },
                x: 10,
                y: null,
                x2: 10,
                y2: 0,
                width: 250,
                height: 50,
                backgroundColor: "rgba(0,0,0,0)",
                borderColor: "#eaeaea",
                borderWidth: 0,
                padding: 5,
                controlPosition: "none",
                autoPlay: false,
                loop: false,
                lineStyle: {
                    width: 1,
                    color: "#bdbdbd",
                    type: ""
                },

            },
            options: [{
                    color: ['#4680ff', '#FC6180', '#93BE52', '#FFB64D', '#FE8A7D', '#69CEC6'],
                    title: {
                        text: '',
                        subtext: ''
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        show: false,
                        x: 'left',
                        orient: 'vertical',
                        padding: 0,
                        data: top_cities
                    },
                    toolbox: {
                        show: false,
                        color: ['#4680ff', '#4680ff', '#4680ff', '#4680ff'],
                        feature: {
                            mark: {
                                show: false
                            },
                            dataView: {
                                show: false,
                                readOnly: true
                            },
                            magicType: {
                                show: true,
                                itemSize: 12,
                                itemGap: 12,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '10%',
                                        width: '80%',
                                        funnelAlign: 'center',
                                        max: 100
                                    },
                                    pie: {
                                        roseType: 'none',
                                    }
                                }
                            },
                            restore: {
                                show: false
                            },
                            saveAsImage: {
                                show: true
                            }
                        }
                    },
                    series: [{
                        name: 'Cities',
                        type: 'pie',
                        radius: [15, '70%'],
                        roseType: 'radius',
                        center: ['50%', '45%'],
                        width: '50%', // for funnel
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true
                                },
                                labelLine: {
                                    show: true
                                }
                            },
                            emphasis: {
                                label: {
                                    show: false
                                },
                                labelLine: {
                                    show: false
                                }
                            }
                        },
                        data: result
                    }]
                }] // end options object
        };

        myChart.setOption(option_dt);
    }

    function hcp_table(dataTableValues) {
        $(".datatables-basic").DataTable({
            destroy: true,
            paging: true,
            searching: true,
            fixedHeader: {
                header: true,
                footer: true
            },
            scrollX: true,
            data: dataTableValues,
            dom: 'rBfrtip',
            buttons: [{
                extend: 'excelHtml5',
                text: 'Export to Excel',
                title: 'download',
                className: 'btn btn-primary',
                exportOptions: {
                    columns: ':visible'
                }
            }],
            columns: [{
                data: "id",
                render: function(data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            }, {
                data: "Name"
            }, {
                data: "Designation"
            }, {
                data: "Address"
            }, {
                data: "ConnectedDate"
            }],
            columnDefs: [{
                responsivePriority: 1,
                targets: 3
            }],
            order: [
                [0, "asc"]
            ],
            displayLength: 10,
            lengthMenu: [7, 10, 25, 50, 75, 100],
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal({
                        header: function(e) {
                            return "Details of " + e.data().full_name
                        }
                    }),
                    type: "column",
                    renderer: function(e, t, a) {
                        var s = $.map(a, (function(e, t) {
                            return "" !== e.title ? '<tr data-dt-row="' + e.rowIdx + '" data-dt-column="' + e.columnIndex + '"><td>' + e.title + ":</td> <td>" + e.data + "</td></tr>" : ""
                        })).join("");
                        return !!s && $('<table class="table"/>').append("<tbody>" + s + "</tbody>")
                    }
                }
            }
        });

    }

    function dashboard_data() {
        $('#processing').show();

        var data = new FormData();
        data.append('month', $('#month').val());
        data.append('year', $('#year').val());

        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/get_dashboard_data',
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            data: data,
            success: function(data) {
                var obj = JSON.parse(data);
                if (obj['total_search'] != 0) {
                    $('#showdata').show();
                    $('#hidedata').hide();

                    $('#total_search').text(obj['total_search']);
                    $('#total_hcp').text(obj['total_hcp']);
                    $('#top_connected_hcp').text(obj['top_connected_hcp']);
                    $('#total_area').text(Object.keys(obj['city_count']).length);

                    var mapStates = 'AL,AK,AZ,AR,CA,CO,CT,DE,FL,GA,HI,ID,IL,IN,IA,KS,KY,LA,ME,MD,MA,MI,MN,MS,MO,MT,NE,NV,NH,NJ,NM,NY,NC,ND,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY'.split(',');

                    var map_data = [];
                    for (var i = 0; i < mapStates.length; i++) {
                        var map_dict = {};
                        var city_count = obj['city_count'];
                        if (Object.keys(city_count).includes(mapStates[i])) {
                            map_dict['map'] = "US." + mapStates[i];
                            map_dict['z'] = city_count[mapStates[i]];
                        } else {
                            map_dict['map'] = "US." + mapStates[i];
                            map_dict['z'] = 0;
                        }

                        map_data.push(map_dict);
                    }

                    mapChart(map_data, obj);

                    $('#barchart').empty();
                    $('#barchart').append('<canvas id="myChart" height="400px"></canvas>');
                    barChart(obj['top_dates'], obj['search_date_cnt'], obj['hcp_date_cnt']);

                    $('#top_one_city').text(obj['top_one_city']);
                    $('#top_one_city_cnt').text(obj['top_one_city_cnt']);

                    $('#progress').empty();
                    $('#progress').append('<div id="progressbar" style="height:300px"></div>');
                    progressBar(obj['top_cities'], obj['top_cities_cnt']);

                    $('#top_week_hcps').empty();
                    for (var i = 0; i < obj['top_week_names'].length; i++) {
                        $('#top_week_hcps').append('<p style="text-align:right"><span style="float:left">' + obj['top_week_names'][i] + '</span>' + obj['top_week_designation'][i] + '</p>');
                    }

                    var dataTableValues = []
                    for (var i = 0; i < Object.keys(obj['hcp_table_data']).length; i++) {
                        dataTableValues.push(obj['hcp_table_data'][i])
                    }
                    hcp_table(dataTableValues);

                    var ctx = document.getElementById('update-chart-1').getContext("2d");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: valincome('#fff', [15, 20, 25, 25, 30], '#fff'),
                        options: valincomebuildoption(),
                    });

                    var ctx = document.getElementById('update-chart-2').getContext("2d");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: valincome('#fff', [5, 10, 25, 30, 40], '#fff'),
                        options: valincomebuildoption(),
                    });

                    var ctx = document.getElementById('update-chart-3').getContext("2d");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: valincome('#fff', [12, 10, 5, 20, 25], '#fff'),
                        options: valincomebuildoption(),
                    });

                    var ctx = document.getElementById('update-chart-4').getContext("2d");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: valincome('#fff', [10, 20, 35, 25, 45], '#fff'),
                        options: valincomebuildoption(),
                    });

                } else {
                    $('#showdata').hide();
                    $('#hidedata').show();
                }

                $('#processing').hide();
            },
            error: function(err) {
                toastr.error("Something went wrong", "Error!", {
                    showMethod: "slideDown",
                    hideMethod: "slideUp",
                    timeOut: 3000
                });

                $('#processing').hide();
            }
        });
    }

    function valincome(a, b, f) {
        if (f == null) {
            f = "rgba(0,0,0,0)";
        }
        return {
            labels: ["1", "2", "3", "4", "5"],
            datasets: [{
                label: "",
                borderColor: a,
                borderWidth: 0,
                hitRadius: 30,
                pointRadius: 0,
                pointHoverRadius: 4,
                pointBorderWidth: 2,
                pointHoverBorderWidth: 12,
                pointBackgroundColor: Chart.helpers.color("#000000").alpha(0).rgbString(),
                pointBorderColor: a,
                pointHoverBackgroundColor: a,
                pointHoverBorderColor: Chart.helpers.color("#000000").alpha(.1).rgbString(),
                fill: true,
                backgroundColor: Chart.helpers.color(f).alpha(1).rgbString(),
                data: b,
            }]
        };
    }

    function valincomebuildoption() {
        return {
            maintainAspectRatio: false,
            title: {
                display: false,
            },
            tooltips: {
                enabled: false,
            },
            legend: {
                display: false
            },
            hover: {
                mode: 'index'
            },
            scales: {
                xAxes: [{
                    display: false,
                    gridLines: false,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    display: false,
                    gridLines: false,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    },
                    ticks: {
                        min: 1,
                    }
                }]
            },
            elements: {
                point: {
                    radius: 4,
                    borderWidth: 12
                }
            },
            layout: {
                padding: {
                    left: 10,
                    right: 0,
                    top: 15,
                    bottom: 0
                }
            }
        };
    }

    $(document).ready(function() {

        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        $('#month').val(months[new Date().getMonth()]);

        var currYear = new Date().getFullYear();

        $("#year").find('option').remove();
        for (var i = 2022; i <= currYear; i++) {
            if (i == new Date().getFullYear()) {
                $("#year").append('<option selected value="' + i + '">' + i + '</option>');
            } else {
                $("#year").append('<option value="' + i + '">' + i + '</option>');
            }
        }

        dashboard_data();
    });
</script>


{% endblock %}