{% extends 'layout.html' %} {% block content %}
<style>
    /* table {
      border-collapse: collapse;
      border-spacing: 0;
    } */
    table,thead {
        width: 100% !important;
        
    }table.tr {
        display: flex;
        align-items: stretch;
    } 
    #Designation,#Country{
        -webkit-appearance: listbox !important
    }
            
    td:nth-child(9),th:nth-child(9) {
        visibility: collapse;
        display: none;
    }
    td:nth-child(10),th:nth-child(10) {
        visibility: collapse;
        display: none;
    }
    
    </style>
    <div class="app-content content " style="padding: calc(2rem + 4rem + 1rem) 2rem 0;">
        <div class="header-navbar-shadow" style="top:28px;height:60px;"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
    
                <!-- List DataTable -->
    
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <table id="datatable"   class="datatables-basic table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Designation</th>
                                        <th>Status</th>
                                        <th>License</th>
                                        <th>NPI</th>
                                        <th>View</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                            </table>
                            
                        </div>
                    </div>
                </div>
                <!--/ List DataTable -->
            </div>
        </div>
    </div>
    
    <!-- Modal add & edit record -->
    <div class="modal modal-slide-in fade" id="modals-slide-add" aria-labelledby="modalToggleLabel" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog sidebar">
            <form class="add-new-record modal-content pt-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cancel()">×</button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Data</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="mb-1">
                        <label class="form-label">First Name<span style="color:red">*</span></label>
                        <input class="form-control" name="first_name" id="firstname" placeholder="First Name">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Last Name<span style="color:red">*</span></label>
                        <input class="form-control" name="last_name" id="lastname" placeholder="Last Name">
                    </div>
    
                    <div class="mb-1">
                        <label class="form-label">Email<span style="color:red">*</span></label>
                        <input type="email" class="form-control" name="Email" id="Email" pattern=".+@globex\.com" placeholder="Enter a valid email address">
                    </div>
                    <div class="mb-1">
                        <label class="form-label pass-lbl">Password<span style="color:red">*</span></label>
                        <input type="password" class="form-control" name="Password" id="Password" placeholder="••••••••••">
                    </div>
                    <div class="mb-1">
                        <label class="form-label cmpass-lbl">Confirm Password<span style="color:red">*</span></label>
                        <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="••••••••••">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Contact Number<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="Contact" id="Contact" placeholder="Enter your contact number">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Designation</label>
                        <select class="form-control" name="Designation" id="Designation">
                            <option value="" selected>Select Designation</option>
                            <option value="M.D.">M.D.</option>
                            <option value="D.O.">D.O.</option>
                            <option value="N.P.">N.P.</option>
                            <option value="P.A.">P.A.</option>
                            <option value="Neurology">Neurology</option>
                            <option value="Internal Medicine">Internal Medicine</option>
                            <option value="Nurse Practitioner">Nurse Practitioner</option>
                            <option value="Physician Assistant">Physician Assistant</option>
                            <option value="Family Practice">Family Practice</option>
                            <option value="Clinical Neurophysiology">Clinical Neurophysiology</option>
                            <option value="Psychiatry">Psychiatry</option>
                            <option value="Other">Other</option>
                        </select>
    
                        <!-- <input class="form-control" name="Designation" id="Designation" placeholder="designation"> -->
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Street<span style="color:red">*</span></label>
                        <input class="form-control" name="Street" id="Street" placeholder="street">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">City<span style="color:red">*</span></label>
                        <input class="form-control" name="City" id="City" placeholder="city">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">State<span style="color:red">*</span></label>
                        <input class="form-control" name="State" id="State" placeholder="state">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Country<span style="color:red">*</span></label>
                        <select class="form-control" name="Country" id="Country">
                            <option value="United States" selected>United States</option>
                        </select>
    
                        <!-- <input class="form-control" name="Country" id="Country" placeholder="country"> -->
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Zipcode<span style="color:red">*</span></label>
                        <input class="form-control" name="zipcode" id="zipcode" placeholder="Your zipcode">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">State Medical License #</label>
                        <input class="form-control" name="license" id="license" placeholder="Enter your License">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">NPI<span style="color:red">*</span></label>
                        <input class="form-control" name="npi" id="npi" placeholder="Enter your NPI">
                    </div>
                    <br>
                    <button type="button" id="save_button" class="btn btn-primary data-submit me-1" onclick="register_data()">Save</button>
                    <button type="button" id="update_button" style="display: none;" class="btn btn-primary data-submit me-1" onclick="update()">Update</button>
                    <button type="reset" id="cancel_button1" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="cancel()">Cancel</button>
                </br>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Bulk Upload -->
    <div class="modal modal-slide-in fade" id="modals-slide-bulk" aria-labelledby="modalToggleLabel" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog sidebar">
            <form class="add-new-record modal-content pt-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="bulkModalLabel">Bulk Upload Data</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="mb-4 mt-4 text-primary">
                        <a href="static/upload_data/Template.xlsx" download>Click here to download template</a>
                    </div>
                    <div class="mb-5 mt-1">
                        <label class="form-label">Bulk Upload</label><br>
                        <input type="file" accept=".xlsx" name='exampleInputFile' multiple="true" class="custom-file-input" id="exampleInputFile">
                    </div>
                    <div class="mb-3 mt-3">
                        <label class="bulk_error" style="color: red;"></label>
                    </div>
                    <button type="button" id="upload_btn" class="btn btn-primary data-submit me-1" onclick="upload()">Upload</button>
                    <button type="reset" id="cancel_btn" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Reason -->
    <div class="modal modal-slide-in fade" id="modal-reason" aria-labelledby="modalToggleLabel" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <form class="add-new-record modal-content pt-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="reasonModalLabel">Reason</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="mb-5 mt-3">
                        <label class="form-label">Reason for rejection:</label>
                        <textarea class="form-control" name="reason" id="reason" placeholder="Type your reason for reject"></textarea>
                    </div>
                    <button type="button" id="done_btn" class="btn btn-primary data-submit me-1" onclick="reasonfunction()">Done</button>
                    <button type="reset" id="cnl_btn" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="rejectcancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Modal view record -->
    <div class="modal modal-slide-in fade" id="modals-slide-view" aria-labelledby="modalToggleLabel" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog sidebar">
            <form class="add-new-record modal-content pt-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="viewModalLabel">HCP Details</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="mb-1">
                        <label class="form-label">First Name</label>
                        <input class="form-control" name="first_name" id="firstname_view" readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Last Name</label>
                        <input class="form-control" name="last_name" id="lastname_view"  readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="Email" id="Email_view" pattern=".+@globex\.com"  readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Contact Number</label>
                        <input type="text" class="form-control" name="Contact" id="Contact_view" readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Designation</label>
                        <input class="form-control" name="Designation" id="Designation_view"  readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Street</label>
                        <input class="form-control" name="Street" id="Street_view"  readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">City</label>
                        <input class="form-control" name="City" id="City_view"  readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">State</label>
                        <input class="form-control" name="State" id="State_view"  readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Country</label>
                        <input class="form-control" name="Country" id="Country_view" readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Zipcode</label>
                        <input class="form-control" name="zipcode" id="zipcode_view" readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Status</label>
                        <input class="form-control" name="status" id="status_view" readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">State Medical License #</label>
                        <input class="form-control" name="license" id="license_view" readonly>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">NPI</label>
                        <input class="form-control" name="npi" id="npi_view" readonly>
                    </div>
                    <div class="mb-5">
                        <label class="form-label reason-lbl">Reason</label>
                        <textarea class="form-control" name="zipcode" id="reason_view" readonly></textarea>
                    </div>
                    <button type="reset" id="cancel" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    
    <style>
        .confirm-btn {
            margin-right: 10px;
        }
        
        .pending-text-color {
            color: #E65100;
        }
    </style>
    
    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    
        $('.title-home').text("DOCTOR DETAILS");
    
        $('#modals-slide-add').on('hidden.bs.modal', function() {
            $('#cancel_button1').click();
            //cancel();
        });
    
        $('#modal-reason').on('hidden.bs.modal', function() {
            rejectcancel();
        });
    
        function register_data() {
    
            var data = new FormData();
            const regex = /^([A-Z a-z 0-9\_.]+)@([a-z])+\.([a-z])+$/;
            var number = /(?=.{8,})/;
            let strongpassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])')
            var validzip = /(^\d{5}$)|(^\d{5}-\d{4}$)/;
            var phonenumber = /^(\()?\d{3}(\))?(-|\s)?\d{3}(-|\s)\d{4}$/;
    
            if ($('#firstname').val() == '' || $('#lastname').val() == '' || $('#Email').val() == '' || $('#Password').val() == '' || $('#confirmpassword').val() == '' || $('#Contact').val() == '' || $('#Street').val() == '' || $('#City').val() == '' || $('#State').val() == '' || $('#Country').val() == '' || $('#zipcode').val() == '' || $('#npi').val() == '') {
                Swal.fire({
                    title: "All fields are required.",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } else if (!regex.test($('#Email').val())) {
                Swal.fire({
                    title: "Use Only Correct Email format..@gmail.com",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } else if ($('#Password').val() != $('#confirmpassword').val()) {
                Swal.fire({
                    title: "Password and confirm password not same.",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } else if (!strongpassword.test($('#Password').val())) {
                Swal.fire({
                    title: "Suggest a strong password.. Ex.AB@cd123",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } else if (!number.test($('#Password').val())) {
                Swal.fire({
                    title: "Password length must be 8 characters.",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } 
            else if (!validzip.test($('#zipcode').val())) {
                Swal.fire({
                    title: "Please specify a valid US zip code.",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } 
            else {
                data.append('FirstName', $("#firstname").val());
                data.append('LastName', $("#lastname").val());
                data.append('Email', $("#Email").val());
                data.append('Password', $("#Password").val());
                data.append('confirmpassword', $("#confirmpassword").val());
                data.append('ContactNumber', $("#Contact").val());
                data.append('Designation', $("#Designation").val());
                data.append('Street', $("#Street").val());
                data.append('City', $("#City").val());
                data.append('State', $("#State").val());
                data.append('Country', $("#Country").val());
                data.append('Zipcode', $("#zipcode").val());
                data.append('license', $("#license").val());
                data.append('Npi', $("#npi").val());
    
                $('#processing').show();
                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/register',
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 800000,
                    data: data,
                    success: function(data) {
                        $('#cancel_button1').click();
                        load_data();
                        toastr.success("Successfully Registered.", "Success!", {
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            timeOut: 5000
                        });
                    },
                    error: function(err) {
                        $(this).html("error!");
                        $('#processing').hide();
                    }
                });
            }
        }
    
    
        function upload() {
    
            var ins = document.getElementById('exampleInputFile').files.length;
            if (ins < 1) {
                Swal.fire({
                    title: "Please Choose File.",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } else {
                var data = new FormData();
                for (var x = 0; x < ins; x++) {
                    data.append("files", document.getElementById('exampleInputFile').files[x]);
                }
    
                $('#processing').show();
                $('.bulk_error').hide();
                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/bulk_upload',
                    processData: false,
                    cache: false,
                    timeout: 800000,
                    contentType: false,
                    data: data,
                    success: function(data) {
    
                        if (data == 'true') {
                            $('#cancel_btn').click();
                            load_data();
                            toastr.success("File has been uploaded.", "Uploaded!", {
                                showMethod: "slideDown",
                                hideMethod: "slideUp",
                                timeOut: 5000
                            });
                        } else {
                            $('.bulk_error').show();
                            $('.bulk_error').text(data + ' is already exists.');
                            $('#processing').hide();
                        }
                    }
                });
    
            }
        }
    
    
        function editfunction(el, id) {
            var data = new FormData();
            var currentRow = $(el).closest("tr");
            var firstname = currentRow.find("td:eq(1)").text();
            var lastname = currentRow.find("td:eq(2)").text();
            var contactnum = currentRow.find("td:eq(3)").text();
            var email = currentRow.find("td:eq(4)").html();
            var address = currentRow.find("td:eq(5)").text().split(",");
            var designation = currentRow.find("td:eq(6)").text();
            var status = currentRow.find("td:eq(7)").text();
            var license = currentRow.find("td:eq(8)").text();
            var NPI = currentRow.find("td:eq(9)").text();
           
    
            $("#firstname").data('id', id);
            $("#firstname").data('status', status);
    
            $("#firstname").val(firstname);
            $("#lastname").val(lastname);
            $("#Email").val(email);
            $("#Contact").val(contactnum);
            //$("#Designation").append('<option value="'+designation +'">' + designation + '</option>');
            //document.getElementById("Designation").value=designation;
            $("#Designation").val(designation);
            $("#Street").val(address[0]);
            $("#City").val(address[1]);
            $("#State").val(address[2]);
            //$("#Country").append('<option value="'+address[3] +'">' + address[3] + '</option>');
            //document.getElementById("Country").value=address[3]; 
            $("#Country").val(address[3]);
            $("#zipcode").val(address[4]);
            $("#license").val(license);
            $("#npi").val(NPI);
            
            $('#update_button').show();
            $('#save_button').hide();
            $('#exampleModalLabel').text('Update Data');
    
            $("#Password").hide();
            $("#confirmpassword").hide();
            $(".pass-lbl").hide();
            $(".cmpass-lbl").hide();
        }
    
        function cancel() {
            $('#update_button').hide();
            $('#save_button').show();
            $('#exampleModalLabel').text('Add New Data');
    
            $("#Password").show();
            $("#confirmpassword").show();
            $(".pass-lbl").show();
            $(".cmpass-lbl").show();
        }
    
        function viewfunction(el, id, reason) {
            $(".reason-lbl").hide();
            $("#reason_view").hide();
    
            var currentRow = $(el).closest("tr");
            var firstname = currentRow.find("td:eq(1)").text();
            var lastname = currentRow.find("td:eq(2)").text();
            var contactnum = currentRow.find("td:eq(3)").text();
            var email = currentRow.find("td:eq(4)").html();
            var address = currentRow.find("td:eq(5)").text().split(",");
            var designation = currentRow.find("td:eq(6)").text();
            var status = currentRow.find("td:eq(7)").text();
            var license = currentRow.find("td:eq(8)").text();
            var NPI = currentRow.find("td:eq(9)").text();
    
            $("#firstname_view").val(firstname);
            $("#lastname_view").val(lastname);
            $("#Email_view").val(email);
            $("#Contact_view").val(contactnum);
            $("#Designation_view").val(designation);
            $("#Street_view").val(address[0]);
            $("#City_view").val(address[1]);
            $("#State_view").val(address[2]);
            $("#Country_view").val(address[3]);
            $("#zipcode_view").val(address[4]);
            $("#status_view").val(status);
            $("#license_view").val(license);
            $("#npi_view").val(NPI);
            
            if ((status == 'Rejected') && (reason != 'null')) {
                $(".reason-lbl").show();
                $("#reason_view").show();
                $("#reason_view").val(reason);
            }
        }
    
        function update() {
    
            const regex = /^([A-Z a-z 0-9\_.]+)@([a-z])+\.([a-z])+$/;
            var validzip = /(^\d{5}$)|(^\d{5}-\d{4}$)/;
            var phonenumber = /^(\()?\d{3}(\))?(-|\s)?\d{3}(-|\s)\d{4}$/;
    
            if ($('#firstname').val() == '' || $('#lastname').val() == '' || $('#Email').val() == '' || $('#Contact').val() == '' || $('#Street').val() == '' || $('#City').val() == '' || $('#State').val() == '' || $('#Country').val() == '' || $('#zipcode').val() == '' ) {
                Swal.fire({
                    title: "All fields are required.",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } else if (!regex.test($('#Email').val())) {
                Swal.fire({
                    title: "Use Only Correct Email format..@gmail.com",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } else if (!validzip.test($('#zipcode').val())) {
                Swal.fire({
                    title: "Please specify a valid US zip code.",
                    icon: "warning",
                    customClass: {
                        ConfirmButton: "btn btn-primary",
                    },
                    buttonStyling: !1,
                })
            } else {
    
                var id = $("#firstname").data('id');
                var status = $("#firstname").data('status');
    
                pendingfunction(id, status)
    
                var data = new FormData();
                data.append('Id', id);
                data.append('FirstName', $("#firstname").val());
                data.append('LastName', $("#lastname").val());
                data.append('Email', $("#Email").val());
                data.append('ContactNumber', $("#Contact").val());
                data.append('Designation', $("#Designation").val());
                data.append('Street', $("#Street").val());
                data.append('City', $("#City").val());
                data.append('State', $("#State").val());
                data.append('Country', $("#Country").val());
                data.append('Zipcode', $("#zipcode").val());
                data.append('license', $("#license").val());
                data.append('Npi', $("#npi").val());
    
                $('#processing').show();
                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/update_data',
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 800000,
                    data: data,
                    success: function(data) {
                        $('#cancel_button1').click();
                        load_data();
                    },
                    error: function(err) {
                        $(this).html("error!");
                        $('#processing').hide();
                    }
                });
            }
        }
    
        function pendingfunction(id, status) {
    
            var data = new FormData();
            data.append('Id', id);
            data.append('Status', status);
            $('#processing').show();
            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '/pending_doctor',
                processData: false,
                cache: false,
                timeout: 800000,
                contentType: false,
                data: data,
                success: function(data) {
                    $('#cancel_button1').click();
                    load_data();
                    toastr.success("Data has been updated.", "Updated!", {
                        showMethod: "slideDown",
                        hideMethod: "slideUp",
                        timeOut: 5000
                    });
                }
            });
        }
    
        function approvefuction(el, fname, lname, email) {
            Swal.fire({
                title: "Are you sure want to approve?",
                icon: "warning",
                showCancelButton: !0,
                confirmButtonText: "Confirm",
                customClass: {
                    confirmButton: "btn btn-primary confirm-btn",
                    cancelButton: "btn btn-outline-danger ms-1",
                },
                buttonsStyling: !1,
            }).then(function(t) {
                if (t['isConfirmed'] == true) {
                    var data = new FormData();
                    data.append('id', el);
                    data.append('firstname', fname);
                    data.append('lastname', lname);
                    data.append('email', email);
                    $('#processing').show();
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: '/approve_doctor',
                        processData: false,
                        cache: false,
                        timeout: 800000,
                        contentType: false,
                        data: data,
                        success: function(data) {
                            load_data();
                            toastr.success("Data has been approved.", "Approved!", {
                                showMethod: "slideDown",
                                hideMethod: "slideUp",
                                timeOut: 5000
                            });
                        }
                    });
                }
            });
        }
    
        function rejectfunction(el, fname, lname, email) {
            Swal.fire({
                title: "Are you sure want to reject?",
                icon: "warning",
                showCancelButton: !0,
                confirmButtonText: "Confirm",
                customClass: {
                    confirmButton: "btn btn-primary confirm-btn",
                    cancelButton: "btn btn-outline-danger ms-1",
                },
                buttonsStyling: !1,
            }).then(function(t) {
                if (t['isConfirmed'] == true) {
                    var data = new FormData();
                    data.append('id', el);
                    data.append('firstname', fname);
                    data.append('lastname', lname);
                    data.append('email', email);
                    $('#processing').show();
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: '/reject_doctor',
                        processData: false,
                        cache: false,
                        timeout: 800000,
                        contentType: false,
                        data: data,
                        success: function(data) {
                            $("#modal-reason").modal("show");
                            $('#reason').data('id', el);
                        }
                    });
                }
            });
        }
    
        function reasonfunction() {
            var data = new FormData();
            var el = $('#reason').data('id');
    
            data.append('id', el)
            if ($('#reason').val() != '') {
                data.append('reason', $('#reason').val());
            } else {
                data.append('reason', 'null');
            }
    
            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '/reject_reason_doctor',
                processData: false,
                cache: false,
                timeout: 800000,
                contentType: false,
                data: data,
                success: function(data) {
                    $('#modal-reason').modal('toggle');
                }
            });
        }
    
        function rejectcancel() {
            load_data();
            toastr.success("Data has been rejected.", "Rejected!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5000
            });
        }
    
        function deletefunction(el) {
            Swal.fire({
                title: "Are you sure want to delete?",
                icon: "warning",
                showCancelButton: !0,
                confirmButtonText: "Confirm",
                customClass: {
                    confirmButton: "btn btn-primary confirm-btn",
                    cancelButton: "btn btn-outline-danger ms-1",
                },
                buttonsStyling: !1,
            }).then(function(t) {
                if (t['isConfirmed'] == true) {
    
                    var data = new FormData();
                    data.append('id', el);
                    $('#processing').show();
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: '/delete_doctor',
                        processData: false,
                        cache: false,
                        timeout: 800000,
                        contentType: false,
                        data: data,
                        success: function(data) {
                            load_data();
                            toastr.success("Data has been Deleted.", "Deleted!", {
                                showMethod: "slideDown",
                                hideMethod: "slideUp",
                                timeOut: 5000
                            });
                        }
                    });
                }
            });
        }
    
    
        function load_data() {
            $('#processing').show();
            $(".datatables-basic").DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                serverMethod:'post',
                ajax: {
                    url:'/partial_load'
                },
                paging: true,
                searching: true,
                columns: [{
                    data: "Id",
                    render: function(data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }, {
                    data: "Firstname"
                }, {
                    data: "Lastname"
                }, {
                    data: "ContactNumber"
                }, {
                    data: "Email"
                }, {
                    data: "Address"
                }, {
                    data: "Designation"
                }, {
                    data: "Status",
                    render: function(e, t, a, s) {
                                var l = a.Status,
                                    o = {
                                        "Approved": {
                                            title: "Approved",
                                            class: "text-success"
                                        },
                                        "Pending": {
                                            title: "Pending",
                                            class: "pending-text-color"
                                        },
                                        "Rejected": {
                                            title: "Rejected",
                                            class: "text-danger"
                                        }
                                    };
                                return void 0 === o[l] ? e : '<span class="' + o[l].class + '">' + o[l].title + "</span>"
                            }
                }, {
                    data: "License"
                }, {
                    data: "NPI"
                },{
                    data: ""
                },{
                    data:""
                }
                    ],
                columnDefs: [{
                    responsivePriority: 1,
                }, {
                    targets: -1,
                    title: "Actions",
                    orderable: !1,
                    render: function(e, t, a, s) {
                        if (a.Status == 'Approved') {
                            return '<a onclick="editfunction(this, \'' + a['Id'] + '\');"  data-toggle="tooltip" title="Edit" data-bs-toggle="modal" data-bs-target="#modals-slide-add" style="margin-right: 5px;">' + feather.icons.edit.toSvg({
                                class: "font-small-9 text-secondary"
                            }) + '</a><a onclick="rejectfunction(\'' + a['Id'] + '\', \'' + a['Firstname'] + '\', \'' + a['Lastname'] + '\', \'' + a['Email'] + '\');" data-toggle="tooltip" title="Click here to Reject" style="margin-right: 5px;">' + feather.icons.x.toSvg({
                                class: "font-small-9 text-danger"
                            }) + '</a>'
                        } else if (a.Status == 'Pending') {
                            return '<a onclick="approvefuction(\'' + a['Id'] + '\', \'' + a['Firstname'] + '\', \'' + a['Lastname'] + '\', \'' + a['Email'] + '\');" data-toggle="tooltip" title="Click here to Approve" style="margin-right: 5px;">' + feather.icons.check.toSvg({
                                class: "font-small-9 text-success"
                            }) + '</a><a onclick="rejectfunction(\'' + a['Id'] + '\', \'' + a['Firstname'] + '\', \'' + a['Lastname'] + '\', \'' + a['Email'] + '\');" data-toggle="tooltip" title="Click here to Reject" style="margin-right: 5px;">' + feather.icons.x.toSvg({
                                class: "font-small-9 text-danger"
                            }) + '</a>'
                        } else {
                            return '<a onclick="editfunction(this, \'' + a['Id'] + '\');" data-toggle="tooltip" title="Edit" data-bs-toggle="modal" data-bs-target="#modals-slide-add" style="margin-right: 5px;">' + feather.icons.edit.toSvg({
                                class: "font-small-9 text-secondary"
                            }) + '</a><a onclick="deletefunction(\'' + a['Id'] + '\');" data-toggle="tooltip" title="Delete" style="margin-right: 5px;">' + feather.icons.trash.toSvg({
                                class: "font-small-9 text-danger"
                            }) + '</a>'
                        }
                    }
                }, {
                    targets: -2,
                    title: "View",
                    orderable: !1,
                    render: function(e, t, a, s) {
                        return '<a onclick="viewfunction(this, \'' + a['Id'] + '\',\'' + a['Reason'] + '\');"  data-toggle="tooltip" title="view" data-bs-toggle="modal" data-bs-target="#modals-slide-view" style="margin-left: 7px;">' + feather.icons.eye.toSvg({
                            class: "font-small-9 text-muted"
                        }) + '</a>'
                    }
                }],
                order: [
                    [0, "asc"]
                ],
                dom: '<"card-header border-bottom p-1 mb-2"<"head-label"><"dt-action-buttons text-end"B>><"d-flex justify-content-between align-items-center mx-0 row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>t<"d-flex justify-content-between mx-0 row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
    
                buttons: [{
                    text: feather.icons.plus.toSvg({
                        class: "me-50 font-small-4"
                    }) + "Add Record",
                    className: "create-new btn btn-primary",
                    attr: {
                        "data-bs-toggle": "modal",
                        "data-bs-target": "#modals-slide-add"
                    },
                    init: function(e, t, a) {
                        $(t).removeClass("btn-secondary")
                    }
                }, {
                    text: "Bulk Upload",
                    className: "create-new btn btn-primary",
                    attr: {
                        "data-bs-toggle": "modal",
                        "data-bs-target": "#modals-slide-bulk"
                    },
                    init: function(e, t, a) {
                        $(t).removeClass("btn-secondary")
                    }
                }],
                displayLength: 10,
                lengthMenu: [10, 25, 50, 75, 100],
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function(e) {
                                return "Details of " + e.data().full_name
                            }
                        }),
                        type: "column",
                        renderer: function(e, t, a) {
                            var s = $.map(a, (function(e, t) {
                                return "" !== e.title ? '<tr data-dt-row="' + e.rowIdx + '" data-dt-column="' + e.columnIndex + '"><td>' + e.title + ":</td> <td>" + e.data + "</td></tr>" : ""
                            })).join("");
                            return !!s && $('<table class="table"/>').append("<tbody>" + s + "</tbody>")
                        }
                    }
                }
            });
            $('#processing').hide();
        }
        
        $(document).ready(function() {
            load_data();
            $('[data-toggle="tooltip"]').tooltip();
            $("#datatable").width($(window).width());
    
        });
    </script>


{% endblock %}    
