{% extends 'layout.html' %} {% block content %} {% if session['UserType']=="User" %}
<style>
    .correction {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>
<div class="container content-container">
    <div class="menu-card-container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4 correction">
                <a class="menu-card" href="/profile">
                    <i class="far fa-list-alt"></i>
                    <div class="menu-card-title">PROFILE</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/changepassword">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="menu-card-title">CHANGE PASSWORD</div>
                </a>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

{% endif %} {% if session['UserType']=="Admin" %}
<style>
    .correction {
        padding-right: 0px;
        padding-top: 10px;
        padding-left: 0px;
    }
</style>
<div class="container content-container">
    <div class="menu-card-container">
        <div class="row">
            <div class="col-4 correction">
                <a class="menu-card" href="/doctor_details">
                    <i class="far fa-list-alt"></i>
                    <div class="menu-card-title">Doctor Details</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="menu-card-title">Connect to Rep</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="menu-card-title">Medication Detail aid</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="menu-card-title">Patient forms</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="menu-card-title">Specialty pharmacy form</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="menu-card-title">Request Samples</div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endif %} {% endblock %}
