{% extends 'layout.html' %} {% block content %} {% if session['UserType']=="User" %}
<style>
    .correction {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>
<div class="container content-container">
    <div class="menu-card-container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4 correction">
                <a class="menu-card" href="/profile">
                    <i class="far fa-list-alt"></i>
                    <div class="menu-card-title">PROFILE</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/changepassword">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="menu-card-title">CHANGE PASSWORD</div>
                </a>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

{% endif %} {% if session['UserType']=="Admin" %}
<style>
    .correction {
        padding-right: 0px;
        padding-top: 10px;
        padding-left: 0px;
    }
    
    @media only screen and (max-width: 600px) {
        .card-height{
            height: 210px;
        }

        .menu-card {
            text-align: center;
            margin: 0 30px;
            height: 190px;
            padding: 30px;
            border: 3px solid #dbf3e3;
            border-radius: 15px;
            display: block;
            text-decoration: none;
            color: unset;
            background: #f3fff7;
            transition: 300ms;
        }
    }

    @media only screen and (min-width: 600px) {
        .card-height{
            height: 210px;
        }

        .menu-card {
            text-align: center;
            margin: 0 30px;
            height: 190px;
            padding: 30px;
            border: 3px solid #dbf3e3;
            border-radius: 15px;
            display: block;
            text-decoration: none;
            color: unset;
            background: #f3fff7;
            transition: 300ms;
        }
    }

    @media only screen and (min-width: 768px) {
        .card-height{
            height: 210px;
        }

        .menu-card {
            text-align: center;
            margin: 0 30px;
            height: 190px;
            padding: 30px;
            border: 3px solid #dbf3e3;
            border-radius: 15px;
            display: block;
            text-decoration: none;
            color: unset;
            background: #f3fff7;
            transition: 300ms;
        }
    }

    @media only screen and (min-width: 992px) {
        .card-height{
            height: 180px;
        }

        .menu-card {
            height: 160px;
            text-align: center;
            margin: 0 30px;
            padding: 30px;
            border: 3px solid #dbf3e3;
            border-radius: 15px;
            display: block;
            text-decoration: none;
            color: unset;
            background: #f3fff7;
            transition: 300ms;
        }
    }

    @media only screen and (min-width: 1200px) {
        .card-height{
            height: 180px;
        }

        .menu-card {
        text-align: center;
        margin: 0 30px;
        padding: 30px;
        border: 3px solid #dbf3e3;
        border-radius: 15px;
        display: block;
        text-decoration: none;
        color: unset;
        background: #f3fff7;
        transition: 300ms;
    }
    }

</style>
<div class="container content-container">
    <div class="menu-card-container">
        <div class="row card-height">
            <div class="col-4 correction"></div>
            <div class="col-4 correction">
                <a class="menu-card" href="/dashboard">
                    <i class="fas fa-chart-line"></i>
                    <div class="menu-card-title">Dashboard</div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 correction">
                <a class="menu-card" href="/doctor_details">
                    <i class="fas fa-list-alt"></i>
                    <div class="menu-card-title">Doctor Details</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="fas fa-hospital-user"></i>
                    <div class="menu-card-title">Connect to Rep</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="fas fa-hand-holding-medical"></i>
                    <div class="menu-card-title">Medication Detail Aid</div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="fas fa-clipboard-list"></i>
                    <div class="menu-card-title">Patient Form</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="far fa-list-alt"></i>
                    <div class="menu-card-title">Specialty Pharmacy Form</div>
                </a>
            </div>
            <div class="col-4 correction">
                <a class="menu-card" href="/home">
                    <i class="fas fa-th-list"></i>
                    <div class="menu-card-title">Request Samples</div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endif %} {% endblock %}
