<!doctype html>
<html lang="en">

<head>
    <title>Opt-Out - Masori</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'plugins/bootstrap-5.0.2/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'plugins/toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'plugins/toastr/ext-component-toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'plugins/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <!--  -->
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
        
        .h-custom {
            height: calc(100% - 40px);
        }
        
        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
        
        .form-control {
            height: 35px;
            margin-bottom: 5px;
            font-size: 0.9rem;
        }
        
        select {
            -webkit-appearance: listbox !important
        }
        
        .form-label {
            margin-bottom: 0.2rem;
            font-size: 14.10px;
        }
        
        input,
        input::placeholder {
            font-size: 14px;
        }
        
        #processing {
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: black;
            opacity: 0.6;
            position: fixed;
            color: white;
            text-align: center;
            padding-top: 20%;
            font-size: 16pt;
            font-weight: 500;
        }
    </style>
</head>

<body>
    <!--  -->
    <section class="body-section">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{{ url_for('static', filename= 'images/logo-green.png') }}" class="img-fluid" alt="Logo">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div>
                      <center><h4>OPT-OUT</h4></center><br>
                    </div>
                    <!--NPI input -->

                    <div class="row">
                        <div class="col-9">
                            <label class="form-label">NPI number</label>
                            <input class="form-control" name="npinumber" id="npinumber" placeholder="Enter NPI number">
                        </div>
                        <div class="col-3">
                            <br><button id="view_btn" class="btn btn-primary btn-lg;" style="width: 90px;margin-left: -10px;" onclick="verify()">Verify</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">First Name</label>
                            <input class="form-control" name="firstname" id="firstname" placeholder="Enter your First Name">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Last Name</label>
                            <input class="form-control" name="lastsname" id="lastname" placeholder="Enter your Last Name">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Contact Number</label>
                            <input class="form-control" type="text" name="Contact" id="Contact" placeholder="Enter your Contact Number">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">City</label>
                            <input class="form-control" name="City" id="City" placeholder="Enter your City">
                        </div>
                    </div>

                    <div class="form-group relative">
                        <label class="inline-checkboxes tos">
                            <br><input id="terms-check" type="checkbox">
                            By checking this box and clicking “Opt-out” below, you acknowledge and agree that your practice details will no longer appear within the Healthcare Provider Locator search results. Please allow up to 72 hours for processing.
                            <a href="{{ url_for('static', filename='MASORIHCPFinderRegistrationTermsConditions.pdf', _external=True) }}" target="_blank" style="text-decoration: none;">Terms and Conditions</a>.
                            <br>  
                        </label>
                    </div>

                    <div class="text-center text-lg-start mt-1 pt-2">
                        <br>
                        <p align="right"><button id="clr_btn" class="btn btn-primary btn-lg;" style="width:150px; font-size:center;background-color: aliceblue;color:green;" onclick="clear();">Clear</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="opt_btn" class="btn btn-primary btn-lg;" style="width:150px; font-size:center;" onclick="Optout()">Opt-Out</button>
                        </p>
                    </div>
                    <div id="processing">Please Wait . . . This may take a while.</div>
                </div>
            </div>
        </div> 
        <div style="position: fixed;width:100%;bottom:0;" class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Right -->
            <div style="color: white;font-size: 14px;">Copyright ©️ 2020-2022 MASORI Therapeutics Corporation. All rights reserved.
                <br>
            </div>
            <a href="#" style="color: white;font-size: 18px;">Masori
                <br>
            </a>
            
            <!-- Right -->
        </div>
    </section>
    <!--  -->
    <script src="{{ url_for('static', filename= 'plugins/jquery-3.6.0/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'plugins/bootstrap-5.0.2/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'plugins/fontawesome-5.15.3/fontawesome.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'plugins/toastr/toastr.min.js') }}"></script>

</body>

<script>
    $(document).ready(function() {
        $('#firstname').attr('disabled',true);
        $('#lastname').attr('disabled',true);
        $('#Contact').attr('disabled',true);
        $('#City').attr('disabled',true);
    });
    
    function verify() {        
        var data = new FormData();
        var pattern = /^[0-9]+$/;

        data.append('Npi', $("#npinumber").val());
        
        $('#firstname').attr('disabled',true);
        $('#lastname').attr('disabled',true);
        $('#Contact').attr('disabled',true);
        $('#City').attr('disabled',true);
        $("#firstname").val('');
        $("#lastname").val('');
        $("#Contact").val('');
        $("#City").val('');

        if ($('#npinumber').val() == '') {
            toastr.error("Please fill the Npinumber.", "Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else if (!pattern.test($('#npinumber').val())) {
            toastr.error("Please enter only numeric values.", "NPI Verification Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else if($('#npinumber').val().length != 10){
            toastr.error("Invalid NPI Number.", "NPI Verification Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        }
        else {
            $('#processing').show();
            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: './fetch_opt',
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                data: data,
                success: function(data) {
                    $('#processing').hide();
                    var obj = JSON.parse(data);

                    if (obj == false) {
                        toastr.error("Invalid NPI Number.", "NPI Verification Attempt Failed!", {
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            timeOut: 5e3
                        });
                    } else {
                        $('#firstname').attr('disabled',false);
                        $('#lastname').attr('disabled',false);
                        $('#Contact').attr('disabled',false);
                        $('#City').attr('disabled',false);
                    }
                },
                error: function(err) {
                    $(this).html("error!");
                    $('#processing').hide();
                }
            });
        }
    }

    function Optout() {
        var data = new FormData();
        data.append('Npi', $("#npinumber").val());
        data.append('firstname', $("#firstname").val());
        data.append('lastname', $("#lastname").val());
        data.append('Contact', $("#Contact").val());
        data.append('City', $("#City").val());
        var pattern = /^[0-9]+$/;

        if ($('#npinumber').val() == '' || $("#firstname").val() == '' || $("#lastname").val() == '' ||
            $("#Contact").val() == '' || $("#City").val() == '') {
            toastr.error("All fields are Required.", "Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else if (!document.getElementById("terms-check").checked) {
            toastr.error("Please check Terms & Conditions.", "Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else if (!pattern.test($('#npinumber').val())) {
            toastr.error("Please verify the NPI Number.", "Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else if($('#npinumber').val().length != 10){
            toastr.error("Please verify the NPI Number.", "Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else {
            $('#processing').show();
            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: './update_opt',
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                data: data,
                success: function(data) {
                    var obj = JSON.parse(data);
                    console.log(obj);

                    if (obj == 'Firstname') {
                        toastr.error("Please Check your First Name.", "Attempt Failed!", {
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            timeOut: 5e3
                        });
                    }

                    if (obj == 'Lastname') {
                        toastr.error("Please Check your Last Name.", "Attempt Failed!", {
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            timeOut: 5e3
                        });
                    }

                    if (obj == 'ContactNumber') {
                        toastr.error("Please Check your Contact Number.", "Attempt Failed!", {
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            timeOut: 5e3
                        });
                    }

                    if (obj == 'City') {
                        toastr.error("Please Check your City.", "Attempt Failed!", {
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            timeOut: 5e3
                        });
                    }

                    if (obj == true){
                        toastr.success("Your request to opt-out has been received and is processing...", {
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            timeOut: 5e3
                        });
                    }

                    $('#processing').hide();
                },
                error: function(err) {
                    $(this).html("error!");
                    $('#processing').hide();
                }
            });
        }
    }

    function clear() {
        $("#npinumber").val('');
        $("#firstname").val('');
        $("#lastname").val('');
        $("#Contact").val('');
        $("#City").val('');
    }

    let btnClear = document.getElementById('clr_btn');
    let inputs = document.querySelectorAll('input');

    btnClear.addEventListener('click', () => {
        $("#processing").show();
        inputs.forEach(input => input.value = '');
        $('input[type="checkbox"]:checked').prop('checked', false);
        $('#firstname').attr('disabled',true);
        $('#lastname').attr('disabled',true)
        $('#Contact').attr('disabled',true);
        $('#City').attr('disabled',true);
        $("#processing").hide();

    });
</script>

</html>
