<!doctype html>
<html lang="en">

<head>
    <title>Register - Masori</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'plugins/bootstrap-5.0.2/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'plugins/toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'plugins/toastr/ext-component-toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'plugins/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <!--  -->
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
        
        .h-custom {
            height: calc(100% - 40px);
        }
        
        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
        
        .form-control {
            height: 35px;
            margin-bottom: 5px;
            font-size: 0.9rem;
        }
        select{
                -webkit-appearance: listbox !important
        }
        .form-label {
            margin-bottom: 0.2rem;
            font-size: 14.10px;
        }
        
        input,
        input::placeholder {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <!--  -->
    <section class="body-section">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{{ url_for('static', filename= 'images/logo-green.png') }}" class="img-fluid" alt="Logo">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div>
                        <h4>{{ message }}</h4><br>
                    </div>
                    <!-- Email input -->

                    <div class="row">
                        <div class="col">
                            <label class="form-label">First Name<span style="color:red">*</span></label>
                            <input class="form-control" name="first_name" id="firstname" placeholder="First Name">
                        </div>
                        <div class="col">
                            <label class="form-label">Last Name<span style="color:red">*</span></label>
                            <input class="form-control" name="last_name" id="lastname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Email<span style="color:red">*</span></label>
                            <input type="email" class="form-control" name="Email" id="Email" pattern=".+@globex\.com" placeholder="Enter a valid email address">
                        </div>
                        <div class="col">
                            <label class="form-label">Contact Number<span style="color:red">*</span></label>
                            <input class="form-control" type="text" name="Contact" id="Contact" placeholder="Enter your contact number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Password<span style="color:red">*</span></label>
                            <input type="password" class="form-control" name="Password" id="Password" placeholder="••••••••••">
                            <!-- <i class="far fa-eye" id="togglePassword" style="margin-left: -10px; cursor: pointer;"></i> -->
                        </div>
                        <div class="col">
                            <label class="form-label">Confirm Password<span style="color:red">*</span></label>
                            <input type="password" type="tel" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="••••••••••">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Designation</label>
                            <select class="form-control" name="Designation" id="Designation">
                                <option value="Select Designation" selected>Select Designation</option>
                                <option value="M.D.">M.D.</option>
                                <option value="D.O.">D.O.</option>
                                <option value="N.P.">N.P.</option>
                                <option value="P.A.">P.A.</option>
                                <option value="Other">Other</option>
                            </select>
                            <!-- <input class="form-control" name="Designation" id="Designation" placeholder="Your designation"> -->
                        </div>
                        <div class="col">
                            <label class="form-label">Street<span style="color:red">*</span></label>
                            <input class="form-control" name="Street" id="Street" placeholder="Your street">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">City<span style="color:red">*</span></label>
                            <input class="form-control" name="City" id="City" placeholder="Your city">
                        </div>
                        <div class="col">
                            <label class="form-label">State<span style="color:red">*</span></label>
                            <input class="form-control" name="State" id="State" placeholder="Your state">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Country<span style="color:red">*</span></label>
                            <select class="form-control" name="Country" id="Country">
                            <option value="United States" selected>United States</option>
                            </select>
                            <!-- <input class="form-control" name="Country" id="Country" placeholder="Your country"> -->
                        </div>
                        <div class="col">
                            <label class="form-label">Zipcode<span style="color:red">*</span></label>
                            <input class="form-control" name="zipcode" id="zipcode" placeholder="Your zipcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">State Medical License #</label>
                            <input class="form-control" name="license" id="license" placeholder="Enter your License">
                        </div>
                        <div class="col">
                            <label class="form-label">NPI<span style="color:red">*</span></label>
                            <input class="form-control" name="npi" id="npi" placeholder="Enter your NPI">
                        </div>
                    </div>
                    <!-- <span class="error" style="color: red; display: none;">This field is required</span> -->
                    <div class="form-group relative">                                      
                        <label class="inline-checkboxes tos">
                            <input id="terms-check" type="checkbox" onclick="change_checkbox();">
                             By checking this box, you acknowledge that you have agreed with the  
                            <a href="{{ url_for('static', filename='MASORIHCPFinderRegistrationTermsConditions.pdf', _external=True) }}" target="_blank" style="text-decoration: none;">Terms and Conditions</a>.
                            <br>  
                            <span></span>
                        </label>
                    </div>
     
                    <div class="text-center text-lg-start mt-1 pt-2">

                        <button class="btn btn-primary btn-lg;" style="width:100px; height:40px;font-size-adjust:calc();" onclick="register_click()">Register</button>
                        <left id="out-message" style="color: red;margin-left:10px; display: none;"></left>
                        <left id="success" style="color:  #1fbf55;font-size:18px;;margin-left:10px; font-weight:bold; display: none;"></left>
                    </div>

                    <div class="text-center text-lg-start mt-1 pt-1">
                        Already a Registered User?<a href="/" onclick="login()" style="text-decoration: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<left>Click Here to Login</left></a>.
                    </div>


                </div>
            </div>
        </div>
        
        <div style="width:100%;bottom:0;" class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Right -->
            <div style="color: white;font-size: 14px;">Copyright ©️ 2020-2022 MASORI Therapeutics Corporation. All rights reserved.
                <br>
            </div>
            <a href="https://masori.com/" style="color: white;font-size: 14px;">MASORI
                <br>
            </a>
            
            <!-- Right -->
        </div>
    </section>
    <!--  -->
    <script src="{{ url_for('static', filename= 'plugins/jquery-3.6.0/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'plugins/bootstrap-5.0.2/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'plugins/fontawesome-5.15.3/fontawesome.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'plugins/toastr/toastr.min.js') }}"></script>

</body>

<script>
    function register_click() {

        var data = new FormData();
        const regex = /^([A-Z a-z 0-9\_.]+)@([a-z])+\.([a-z])+$/;
        var number = /(?=.{8,})/;
        let strongpassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])')
        var validzip = /(^\d{5}$)|(^\d{5}-\d{4}$)/;
        var phonenumber = /^(\()?\d{3}(\))?(-|\s)?\d{3}(-|\s)\d{4}$/;
        var npipattern = /^[0-9]{10}$/;

        data.append('FirstName', $("#firstname").val());
        data.append('LastName', $("#lastname").val());
        data.append('Email', $("#Email").val());
        data.append('Password', $("#Password").val());
        data.append('confirmpassword', $("#confirmpassword").val());
        data.append('ContactNumber', $("#Contact").val());
        data.append('Designation', $("#Designation").val());
        data.append('Street', $("#Street").val());
        data.append('City', $("#City").val());
        data.append('State', $("#State").val());
        data.append('Country', $("#Country").val());
        data.append('Zipcode', $("#zipcode").val());
        data.append('license', $("#license").val());
        data.append('Npi', $("#npi").val());
        
        if ($('#firstname').val() == '' || $('#lastname').val() == '' || $('#Email').val() == '' || $('#Password').val() == '' || $('#confirmpassword').val() == '' || $('#Contact').val() == '' || $('#Street').val() == '' || $('#City').val() == '' || $('#State').val() == '' || $('#Country').val() == '' || $('#zipcode').val() == '' || $('#npi').val() == ''){
            toastr.error("Please fill all the mandatory fields.", "Register Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } 
        else if (!regex.test($('#Email').val())) {
            toastr.error("Use Only Correct Email format..@gmail.com", "Register Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else if ($('#Password').val() != $('#confirmpassword').val()) {
            toastr.error("Password and confirm password not same.", "Register Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else if (!strongpassword.test($('#Password').val())) {
            toastr.error("Suggest a strong password.. Ex.AB@cd123.", "Register Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else if (!number.test($('#Password').val())) {
            toastr.error("Pasword length must be 8 characters.", "Register Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        } else if (!validzip.test($('#zipcode').val())) {
            toastr.error("Please specify a valid US zip code.", "Register Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        }
        else if(!npipattern.test($('#npi').val())){
            toastr.error("Please enter only numeric values.", "Register Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        }
        else if(!document.getElementById("terms-check").checked) {
            toastr.error("Please check Terms & Conditions.", "Register Attempt Failed!", {
                showMethod: "slideDown",
                hideMethod: "slideUp",
                timeOut: 5e3
            });
        }
        else {
            $('#processing').show();
            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '/register',
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                data: data,
                success: function(data) {
                    console.log(data);

                    if (data == 'true') {
                        toastr.success("You have successfully registered.", "Registered!", {
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            timeOut: 2e3
                        });
                        setTimeout(function() {
                            window.location = "./";
                        }, 3000);
                    } else {
                        toastr.error("Email ID is already exists.", "Register Attempt Failed!", {
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            timeOut: 5e3
                        });
                    }

                },
                error: function(err) {
                    $(this).html("error!");


                }
            });
        }
    }
</script>

</html>
